/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Muli:300,400|Montserrat);

/*
font-family: 'Muli', sans-serif;
font-family: 'Montserrat', sans-serif;
*/
html {
    min-width: 970px;
    overflow-x: scroll;
}
body {
    font-family: 'Muli', sans-serif;
}
h1, h2, h3, h4 ,h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
.fancy {
    line-height: 0.5;
    text-align: center;
}
.fancy span {
    display: inline-block;
    position: relative;  
}
.fancy span:before,
.fancy span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid #222;
    top: 3px;
    width: 256px;
    overflow-x: hidden;

}
.fancy span:before {
    right: 100%;
    margin-right: 15px;
}
.fancy span:after {
    left: 100%;
    margin-left: 15px;
}
#reach {
    color: #fff;
    background: url(../_/restaurant.png);
    background-repeat: repeat;
    margin: -20px 0 0 0;
    padding: 80px 0 80px 0;
    position: relative;
    height: inherit;
}
.width980 {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
}
.clear {
  clear: both;
}
.container {
    width: 970px !important;
}

.form-control {
    display: block;
    width: 100%;
    height: 44px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #383235;
    background-color: #fff;
    background-image: none;
    border: 1px solid #F5F5F5;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.btn-reach {
    color: #383235;
    background-color: #fff;
    border-color: #F5F5F5;
    border-radius: 0px;
}
.help-block {
    color: #fff;
}
#reach label {
    color: #222;
}
#reach .col-xs-8 h1 {
    font-size: 4em;
}
#reach .col-xs-8 p {
    font-size: 2em;
}
#love .container {
    padding: 87px 0 87px 0;
    margin: auto;
}
.byline {
    font-size: 1.2em;
    padding: 12px 0 0 0;
}
.uppercase {
    text-transform: uppercase;
}
.green-sea {
    color: #16a085;
    padding: 22px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    -moz-box-shadow: 0px 0px 1px #888;
    -webkit-box-shadow: 0px 0px 1px #888;
    box-shadow: 0px 0px 1px #888;
    width: 86px;
    margin: 0 auto 26px auto;
}
#love .row {
    margin: auto;
    padding: 80px 0 0 0;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    border-radius: 0 0 6px 6px;
}
input[type=text],
input[type=email],
input[type=password] {
    border: 0;
    margin: 0;
    height: 40px;
    padding: 0;
    line-height: 30px;
    font-size: 90%;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    transition: background-color .5s;
}
input:focus {
    outline: none;
}
label {
    width: 37.5%;
    display: block;
    float: left;
    color: #999;
    padding: 0 10px;
    font-size: 70%;
    text-transform: uppercase;
    line-height: 40px;
    white-space: nowrap;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
.active label {
    color: #333;
}
.input {
    border: solid #ccc;
    border-width: 0 1px 1px 1px;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    transition: background-color .5s;
    overflow: hidden;
    background: #fff;
    color: #222;
}
.input:first-of-type {
    border-top: 1px solid #ccc;
    border-radius: 6px 6px 0 0;
}
.input:last-of-type {
    border-radius: 0 0 6px 6px;
}
.active, .active input {
    background-color: #feffe8;
}
.input:hover label {
    color: #333;
}
form {
    display: block;
    max-width: 300px;
    margin: 20px auto;
}
.toggle-mask {
    font-size: 70%;
    color: #999;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 40px;
    display: block;
    width: 20%;
    text-align: center;
    float: right;
}
.toggle-mask:hover {
    color: #0c4d6d;
}
input[type=submit] {
    -webkit-appearance: none;
    border: 0;
    background-color: #fff;
    color: #222;
    border-radius: 6px;
    border-color: 1px solid #ccc;
    display: block;
    margin: 20px 0 0 0;
    padding: 0 20px;
    cursor: pointer;
    font-size: 90%;
    line-height: 40px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
input[type=submit]:focus,
input[type=submit]:hover {
      background-color: #ccc;
}
#full-name, #email {
      width: 62.5%;
      display: block;
}
#password {
      width: 42.5%;
      float: left;
}
.windows {
    padding: 80px 0 0 0;
    margin: auto;
}
.windows .btn {
    width: 48%;
    padding: 12px;
    text-align: center;
}
.windows p {
    text-align: center;
    padding: 18px;
}
.right {
    float: right;
}
.left {
    float: left;
}
#get .container {
    padding: 0 0 80px 0;
}
#footer {
}

#footer ul {
    list-style-type: none;
    text-align: center;
    display: inline;
}
#footer ul li {
    display: inline;
    padding: 12px 6px 12px 6px;
}
.footer-end {
    margin-right: 40px;
}
#footer .container {
    padding: 40px 0 40px 0;
    border-top: solid 1px #ccc;
}
    